In [1]:
import sys, os
sys.path.append(os.path.abspath(".."))

In [4]:
import pandas as pd
from pathlib import Path

from src.data_utils import generate_synthetic_lob_trades, make_resampled_dataframe

In [5]:
lob_df, trades_df = generate_synthetic_lob_trades(
    n_steps=1000,     # 1000 time steps (about 1000 seconds)
    dt_seconds=1.0,   # 1 second between steps
    seed=42,          # fix randomness for reproducibility
)

lob_df.head(), trades_df.head()

(            timestamp  bid_price  bid_size   ask_price  ask_size
 0 2025-01-01 09:30:30  99.993047        27  100.013047        48
 1 2025-01-01 09:30:31  99.982647        68  100.002647        53
 2 2025-01-01 09:30:32  99.990152        46  100.010152        31
 3 2025-01-01 09:30:33  99.999557        40  100.019557        80
 4 2025-01-01 09:30:34  99.980047        72  100.000047        62,
             timestamp       price  size  side
 0 2025-01-01 09:30:30  100.013047    45     1
 1 2025-01-01 09:30:31   99.982647    29    -1
 2 2025-01-01 09:30:32   99.990152     9    -1
 3 2025-01-01 09:30:33   99.999557    39    -1
 4 2025-01-01 09:30:34  100.000047     8     1)

In [8]:
df = make_resampled_dataframe(lob_df, trades_df, freq="1s")

df.head()

,timestamp,bid_price,bid_size,ask_price,ask_size,buy_volume,sell_volume,mid_price
0,2025-01-01 09:30:30,99.993047,27,100.013047,48,45.0,0.0,100.003047
1,2025-01-01 09:30:31,99.982647,68,100.002647,53,0.0,29.0,99.992647
2,2025-01-01 09:30:32,99.990152,46,100.010152,31,0.0,9.0,100.000152
3,2025-01-01 09:30:33,99.999557,40,100.019557,80,0.0,39.0,100.009557
4,2025-01-01 09:30:34,99.980047,72,100.000047,62,8.0,0.0,99.990047

In [9]:
df.describe()

,timestamp,bid_price,bid_size,ask_price,ask_size,buy_volume,sell_volume,mid_price
count,1000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,2025-01-01 09:38:49.500000,99.845405,54.464000,99.865405,54.191000,12.456000,12.317000,99.855405
min,2025-01-01 09:30:30,99.595293,10.000000,99.615293,10.000000,0.000000,0.000000,99.605293
25%,2025-01-01 09:34:39.750000128,99.742491,31.000000,99.762491,31.000000,0.000000,0.000000,99.752491
50%,2025-01-01 09:38:49.500000,99.888202,53.000000,99.908202,54.000000,2.000000,0.000000,99.898202
75%,2025-01-01 09:42:59.249999872,99.937316,77.000000,99.957316,77.000000,25.000000,25.000000,99.947316
max,2025-01-01 09:47:09,100.044810,99.000000,100.064810,99.000000,49.000000,49.000000,100.054810
std,NaN,0.119329,26.025334,0.119329,25.738823,15.579306,15.898908,0.119329

In [11]:
from pathlib import Path
Path("data/processed").mkdir(parents=True, exist_ok=True)
df.to_csv("data/processed/lob_trades_resampled.csv", index=False)